    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // valve.rc
    // Loads on game launch
    // Not yet used by budhud
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Load aliases
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    exec bh_aliases.cfg