    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // valve.rc
    // Loads on game launch
    // not used for now
    // this breaks mastercomfig somehow lol so oh well
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Load aliases
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    exec bh_aliases.cfg