    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // HUD commands to run BEFORE user configurations.
    // This way, we allow users to override them.
    // "stored" means the values are saved in config.cfg, so you don't need to
    // reset such ConVars if you uninstall budhud. If not specified, it is not stored, so a
    // game restart is sufficient to automatically reset such ones.
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    // Any more would cause overlap due to the achievement tracker being pushed down to accomodate the Engineer build UI
    // Default: 3 (stored)
    hud_achievement_count_engineer                                  3

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Default valve.rc contents
    ////////////////////////////////////////////////////////////////////////////////////////////////////

// load the base configuration
//exec default.cfg
r_decal_cullsize 1

// Setup custom controller
exec joystick.cfg

// run a user script file if present
exec autoexec.cfg

//
// stuff command line statements
//
stuffcmds

// display the startup level
startupmenu

sv_unlockedchapters 99

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // HUD commands to run AFTER user configurations.
    // This way, we enforce users to such values.
    // "stored" means the values are saved in config.cfg, so you don't need to
    // reset such ConVars if you uninstall budhud. If not specified, it is not stored, so a
    // game restart is sufficient to automatically reset such ones.
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    // Setting this to 0 can cause stuttering issues with Engineer PDAs (maybe Spy disguise as well?)
    // Default: 1
    vgui_cache_res_files                                            1

    // Enforce consistent Target ID alpha to possible fix lag for some users
    // Does not actually change anything, but the game's code can be weird in regard to this
    // Default: 100 (stored)
    tf_hud_target_id_alpha                                          255

    // The hud is designed to work around minmode being set to 0, but it will work either way
    // Default: 0 (stored)
    cl_hud_minmode                                                  0

    // Shows robots left in mvm all-time
    // Default: 0 (stored)
    cl_mvm_wave_status_visible_during_wave                          1

    // Spectating TargetID location
    // Default: 0 (stored)
    tf_spectator_target_location                                    0

    // Makes left-center vote UI fully opaque
    // Default: 150
    cl_vote_non_input_alpha                                         255

    // The HUD looks better without floating health
    // Default: 0 (stored)
    tf_hud_target_id_disable_floating_health                        1

    // Use text for latency markers, since the icons are completely arbitrary
    // Default: 0 (stored)
    tf_scoreboard_ping_as_text                                      1

    // Filter out error messages about animation customizations it cant find
    // Default: 0
    con_filter_enable                                               1
    // Default: ""
    con_filter_text_out                                             "Couldn't find script file"

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // Commands recommended by mastercoms
    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // This is the interpolation value for the Payload HUD updates
    // Default: 0.2
    hud_escort_interp                                               0.1

    ////////////////////////////////////////////////////////////////////////////////////////////////////
    // HUD start-up echo
    ////////////////////////////////////////////////////////////////////////////////////////////////////

    echo ;
    echo ;
    echo ======================================================;
    echo ~~~~~~~~~~~~~~~~~ budhud, made by Whisker ~~~~~~~~~~~~~~~~~;
    echo ~~~~~~~~~~~~~~~~~~~~~~ Est. 2014 ~~~~~~~~~~~~~~~~~~~~~~;
    echo ======================================================;
    echo Some TF2 settings have been changed to ensure;
    echo compatibility with budhud. You can see what values are;
    echo changed and their default values by navigating here;
    echo ../custom/budhud/cfg/valve.rc;
    echo ======================================================;
    echo ~~~~~~~ For questions, please join the Discord ~~~~~~~;
    echo ~~~~~~~~~~~~~ discord.gg/TkxNKU2 ~~~~~~~~~~~~~;
    echo ======================================================;
    echo ;
    echo ;
