# These filetypes should be recognized as VDF, not ReScript
*.res linguist-language=vdf
**/*.res linguist-detectable=true

# Keep these filetypes binary
*.png binary
*.jpg binary

# These filetypes should always have CRLF line endings on checkout
*.res eol=crlf

# All text set to automatic end-of-line normalization
* text=auto

# Do not export these files on download
# Don't ignore dev folder, backups are created there thru PowerScript
{.gitattributes,.gitignore,.github} export-ignore